 * {
   margin:0;
   padding: 0;
 }

 body{
   text-align: center;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .buttonfalse{
  background-color: black;
  padding: 30px 30px;
  border-radius: 7px;

 }

 .buttontrue{

  background-color: #757de8;
  padding: 50px 50px;
  border-radius: 7px;

 }